# Keil uVision artefacts
*.opt
*.uvopt
*.uvoptx
*.uvgui
*.uvgui.*
*.uvguix.*

Listings/
Objects/
RTE/
DebugConfig/
*.build_log.htm

*.axf
*.elf
*.hex
*.bin
*.hex
*.crf
*.d
*.dep
*.htm
*.lnp
*.o
*.obj
*.lst
*.map

# Kicad artefacts
*backups
**/*.net
**/_autosave-*
**/*.bak
**/*.bck
**/*.kicad_sch-bak
**/*.kicad_pcb-bak
**/*.lck
**/fp-info-cache
**/*.kicad_prl
